[Unit]
Description=Manual Scalp Panel
After=network.target

[Service]
WorkingDirectory=/root/twoje-repo/manual
ExecStart=/usr/bin/python3 /root/twoje-repo/manual/app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
